/* General */
:root {
    --branded-white: #ededf6;
    --branded-blue: #445875;
    --branded-dark-blue: #32343d;
    --branded-cyan: #92cccd;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    background-color: var(--branded-white);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

/* Header */
header {
    background-color: var(--branded-dark-blue);
    height: 65px;
}

header h1 {
    background-color: var(--branded-cyan);
    color: var(--branded-dark-blue);
    font-size: 2.5em;
    display: inline;
    padding: 5px 5px 5px 30px;
    position: relative;
    top: 10px;
}

nav {
    display: inline;
    float: right;
    position: relative;
    top: 20px;
}

nav li {
    display: inline;
    border-bottom: var(--branded-cyan) solid 2px;
    margin-right: 15px;
}

nav a {
    color: var(--branded-cyan);
    font-size: 1.25em;
}

/* Body */
section {
    margin-top: 30px;
}

section p, section ul {
    margin-top: 0;
}
section h3 {
    color: var(--branded-blue);
    display: inline-block;
    font-size: 2.5em;
    width: 20%;
    border-right: 5px solid var(--branded-blue);
    vertical-align: top;
    margin: 0px;
    padding-right: 30px;
    margin-right: 10px;
    text-align: right;
}

.section-content {
    display: inline-block;
    width: 75%;
    vertical-align: top;
}

#contact-me {
    clear: both;
}
#contact-me li {
    display: inline;
    margin-right: 30px;
}

#contact-me ul{
    padding: 0;
}

#contact-me img {
    width: 30px;
    height: 30px;
}

/* Flex Items */
.flex-parent {
    display: flex;
    flex-wrap: wrap;
}

#work .flex-parent {
    display: inline-flex;
    justify-content: center;
    margin: auto;
    gap: 5px;
    margin-bottom: 30px;
}
